body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.btn-salir {
    background-color: #dc3545; /* Color de fondo rojo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .btn-salir:hover {
        background-color: #c82333; /* Color de fondo rojo más oscuro en hover */
    }

    .btn-salir:active {
        transform: translateY(1px);
    }

/* Animación para el título */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1 {
    animation: fadeIn 1s ease;
}
